<!DOCTYPE html>
<html>
<head>
    <title>Lolidle</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    
    {% if current_user.is_authenticated %}
        <div class="top-links">
            <a href="{{ url_for('profile') }}">Профиль</a>
        </div>
    {% else %}
        <div class="top-links">
            <a href="{{ url_for('login') }}">Войти</a>
            <a href="{{ url_for('register') }}">Зарегистрироваться</a>
        </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user.username == 'admin' %}
    <div class="admin-panel">
        <button onclick="resetUsedChampions()">Сбросить использованных чемпионов</button>
        <button onclick="resetAttempts()">Сбросить попытки</button>
        <button onclick="showTargetChampion()">Показать угадываемого чемпиона</button>
        <div id="admin-info"></div>
    </div>
    {% endif %}

    <div class="guess-container" id="guess-block" style="display: none;">
    <div id="game-message"></div>
    <form id="guessForm" autocomplete="off">
        <input id="guessInput" type="text" ...>
        <button type="submit" id="guessBtn">Отправить</button>
    </form>
    <div id="autocomplete-list" class="autocomplete-items"></div>
    <div id="result"></div>
</div>
    
    <div id="autocomplete-list" class="autocomplete-items"></div>
    <div class="start-game-container" id="start-game-container">
        <button id="startGameBtn" onclick="startGame()">Новая игра</button>
    </div>
    <script src="/static/js/app.js"></script>

    
<div class="bottom-link">
    <a href="{{ url_for('changelog') }}">Изменения и обновления</a>
</div>
</body>
</html>