<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="profile-info">
        <h1>{{ current_user.username }}</h1>
        <p>Колличество сыгранных игр: {{ total_games }}</p>
        <p>Сумма очков: {{ total_points }}</p>
        <p>Рейтинг (среднее за последние 20 игр): {{ rating }}</p>
        <!-- Добавьте другие поля по необходимости -->
    </div>

    <div class="profile-side-links">
        <a href="{{ url_for('leaderboard') }}">Рейтинг игроков</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
    </div>
    <div class="profile-top-left">
        <a href="{{ url_for('index') }}">На главную</a>
    </div>
</body>
</html>